In [1]:
import pandas as pd
import numpy as np
from pycountry_convert import country_name_to_country_alpha2
from geopy.geocoders import Nominatim

In [2]:
def get_continent(col):
    try:
        cn_a2_code =  country_name_to_country_alpha2(col)
    except:
        cn_a2_code = 'Unknown'
    return cn_a2_code

In [3]:
covid_df = pd.read_csv('../data/final_data.csv')
last_day = covid_df[covid_df['Date'] == '2023-03-10']
last_day['Country'] = last_day['Country'].apply(get_continent)
last_day.head()

/tmp/ipykernel_10886/3200484675.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_day['Country'] = last_day['Country'].apply(get_continent)

,Country,Date,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotalTests,Population,Continent,1 Caseevery X ppl
8,AF,2023-03-10,209484,2,7896.0,0.0,191284.0,4,10304.0,45,1204573.0,40754388,Asia,195
17,AL,2023-03-10,334474,17,3598.0,0.0,329206.0,11,1670.0,0,1941032.0,2866374,Europe,9
26,DZ,2023-03-10,271499,3,6881.0,0.0,182819.0,6,81799.0,0,230861.0,45350148,Africa,167
35,AO,2023-03-10,105288,0,1933.0,0.0,103342.0,0,13.0,0,1499795.0,35027343,Africa,333
44,AR,2023-03-10,10044957,0,130472.0,0.0,9911664.0,0,2821.0,363,35716069.0,46010234,South America,5

In [4]:
# rename continent name to continent code
continent_dict = {'North America': 'NA', 'South America': 'SA', 'Asia': 'AS', 'Europe': 'EU', 'Africa': 'AF', 'OC': 'Oceania', 'Unknown': 'Unknown'}
# replace continent name with continent code
last_day['Continent'] = last_day['Continent'].replace(continent_dict)
last_day

/tmp/ipykernel_10886/1796835146.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_day['Continent'] = last_day['Continent'].replace(continent_dict)

,Country,Date,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotalTests,Population,Continent,1 Caseevery X ppl
8,AF,2023-03-10,209484,2,7896.0,0.0,191284.0,4,10304.0,45,1204573.0,40754388,AS,195
17,AL,2023-03-10,334474,17,3598.0,0.0,329206.0,11,1670.0,0,1941032.0,2866374,EU,9
26,DZ,2023-03-10,271499,3,6881.0,0.0,182819.0,6,81799.0,0,230861.0,45350148,AF,167
35,AO,2023-03-10,105288,0,1933.0,0.0,103342.0,0,13.0,0,1499795.0,35027343,AF,333
44,AR,2023-03-10,10044957,0,130472.0,0.0,9911664.0,0,2821.0,363,35716069.0,46010234,SA,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385,VE,2023-03-10,552188,20,5854.0,0.0,545948.0,2,386.0,31,3359014.0,29266991,SA,53
1394,VN,2023-03-10,11527026,14,43186.0,0.0,10614815.0,6,869025.0,1,85826548.0,98953541,AS,9
1403,YE,2023-03-10,11945,0,2159.0,0.0,9124.0,0,662.0,23,329592.0,31154867,AS,"2,608"
1412,ZM,2023-03-10,343135,0,4057.0,0.0,338854.0,0,224.0,0,3943335.0,19470234,AF,57
1421,ZW,2023-03-10,264276,0,5671.0,0.0,258184.0,0,421.0,12,2525756.0,15331428,AF,58

In [5]:
# create a new column to store continent code and country code
last_day['Continent_Country'] = last_day['Continent'] + ',' + last_day['Country']
last_day.head()

/tmp/ipykernel_10886/695328379.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_day['Continent_Country'] = last_day['Continent'] + ',' + last_day['Country']

,Country,Date,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotalTests,Population,Continent,1 Caseevery X ppl,Continent_Country
8,AF,2023-03-10,209484,2,7896.0,0.0,191284.0,4,10304.0,45,1204573.0,40754388,AS,195,"AS,AF"
17,AL,2023-03-10,334474,17,3598.0,0.0,329206.0,11,1670.0,0,1941032.0,2866374,EU,9,"EU,AL"
26,DZ,2023-03-10,271499,3,6881.0,0.0,182819.0,6,81799.0,0,230861.0,45350148,AF,167,"AF,DZ"
35,AO,2023-03-10,105288,0,1933.0,0.0,103342.0,0,13.0,0,1499795.0,35027343,AF,333,"AF,AO"
44,AR,2023-03-10,10044957,0,130472.0,0.0,9911664.0,0,2821.0,363,35716069.0,46010234,SA,5,"SA,AR"

In [6]:
#function to get longitude and latitude data from country name
geolocator = Nominatim(user_agent="Phat-application")
def geolocate(country):
    try:
        # Geolocate the center of the country
        loc = geolocator.geocode(country)
        # And return latitude and longitude
        return (loc.latitude, loc.longitude)
    except:
        # Return missing value
        return np.nan

In [7]:
last_day['Lat_Long'] = last_day['Country'].apply(geolocate)
last_day

/tmp/ipykernel_10886/2421998765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_day['Lat_Long'] = last_day['Country'].apply(geolocate)

,Country,Date,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotalTests,Population,Continent,1 Caseevery X ppl,Continent_Country,Lat_Long
8,AF,2023-03-10,209484,2,7896.0,0.0,191284.0,4,10304.0,45,1204573.0,40754388,AS,195,"AS,AF","(33.7680065, 66.2385139)"
17,AL,2023-03-10,334474,17,3598.0,0.0,329206.0,11,1670.0,0,1941032.0,2866374,EU,9,"EU,AL","(33.2588817, -86.8295337)"
26,DZ,2023-03-10,271499,3,6881.0,0.0,182819.0,6,81799.0,0,230861.0,45350148,AF,167,"AF,DZ","(28.0000272, 2.9999825)"
35,AO,2023-03-10,105288,0,1933.0,0.0,103342.0,0,13.0,0,1499795.0,35027343,AF,333,"AF,AO","(47.59397, 14.12456)"
44,AR,2023-03-10,10044957,0,130472.0,0.0,9911664.0,0,2821.0,363,35716069.0,46010234,SA,5,"SA,AR","(-34.9964963, -64.9672817)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385,VE,2023-03-10,552188,20,5854.0,0.0,545948.0,2,386.0,31,3359014.0,29266991,SA,53,"SA,VE","(8.0018709, -66.1109318)"
1394,VN,2023-03-10,11527026,14,43186.0,0.0,10614815.0,6,869025.0,1,85826548.0,98953541,AS,9,"AS,VN","(15.9266657, 107.9650855)"
1403,YE,2023-03-10,11945,0,2159.0,0.0,9124.0,0,662.0,23,329592.0,31154867,AS,"2,608","AS,YE","(16.3471243, 47.8915271)"
1412,ZM,2023-03-10,343135,0,4057.0,0.0,338854.0,0,224.0,0,3943335.0,19470234,AF,57,"AF,ZM","(-14.5189121, 27.5589884)"
1421,ZW,2023-03-10,264276,0,5671.0,0.0,258184.0,0,421.0,12,2525756.0,15331428,AF,58,"AF,ZW","(-18.4554963, 29.7468414)"

In [8]:
# save to file csv
last_day.to_csv('../data/last_day.csv', index=False)